@font-face {
  font-family: "opensans";
  src: url("https://static.codemao.cn/coco/player/unstable/r1oA8Jiti.font/ttf?hash=lqxAHHQkc-oqaE-WDBgunFyGVW-y") format("woff2"),
    url("https://static.codemao.cn/coco/player/unstable/r1oA8Jiti.font/ttf?hash=lqxAHHQkc-oqaE-WDBgunFyGVW-y") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("https://static.codemao.cn/coco/player/unstable/r1oA8Jiti.font/ttf?hash=lqxAHHQkc-oqaE-WDBgunFyGVW-y") format("woff2"),
    url("https://static.codemao.cn/coco/player/unstable/r1oA8Jiti.font/ttf?hash=lqxAHHQkc-oqaE-WDBgunFyGVW-y") format("woff");
  font-weight: normal;
  font-style: normal;
}
boby
{
  font-family: "opensans",Arial, Helvetica, sans-serif;
}